body {
    font-family: cursive; 
}
#header {
    background-color: #ff9d00;
    padding:10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-top: black 3px solid;
    border-left: #000000 3px solid;
    border-right: #000000 3px solid;
}
#logo {
    position: relative;
    background-color: #ff9d00; 
    -webkit-text-stroke: black 1.4px; 
    color: wheat;
    width: 150px;
    height: 68px;
    border: #000000 3px solid;
    border-radius: 10px;
    text-align: center;
    padding: 5px 0 0 0;
    font-size: 25px;
    font-family: cursive;
}
#logo h1 {
	position: absolute;
    left: 25px;
}
#logo h1:nth-child(1) {
	display: none;
}

#logo:hover h1:nth-child(2) {
	display: none;
}
#logo:hover h1:nth-child(1) {
	display: block;
}

.regi {
    display: flex;
    align-items: center;
    width: 460px;
    height: 60px;
    background-color: #000000;
    border-radius: 10px;
}

#register-link{
    height: 30px;
    width: 72px;
    margin:0 10px 0 12px;
    background-color: #ff9d00;
    color: #000000;
    border-radius: 5px;
    text-decoration: none;
    padding-top: 7px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

#register-link.r:hover {
    background: black;
    color:  #ff9d00;
    border: #ff9d00 1px solid;
}

#login-form input[type="text"],
#login-form input[type="password"]{
    padding: 5px 0 5px 3px;
    margin-left: 5px;
    border-radius: 4px;
    width: 120px;
    background-color: wheat;
}

#login-form button {
    width: 75px;
    font-family: cursive;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}
#login-form button.bu:hover {
    background-color: wheat;
    color: #000;
}

#login-form button {
    background-color: #000000;
    color:wheat;
    border-radius: 6px;
    cursor: pointer;
    width: 50px;
    height: 26px;
    font-family: cursive;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

#login-form button.bu:hover {
    background-color: wheat;
    color: #000;
}

.toggle-password {
    color: #ff9d00;
    font-size: 22px;
}

#greeting {
    background-color:#ff9d00;
    color: black;
    margin:7px auto;
    width: 210px;
    height: 30px;
    margin: 0 17px 0 15px;
    text-align: center;
    border-radius: 10px;
}
#user-greeting{
    font-family: cursive;
    font-size: 27px;  
}

#right{
    padding-left: 20px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: wheat;
    width: 470px;
    height: 60px;
    border-radius: 20px;
    margin-right: 90px;
}
#greeting{
    display: inline-block; 
}
#logout-link{
    text-decoration: none;
    color:wheat;
    margin-left: 20px;
}
#myp{
    text-decoration: none;
    color:#ff9d00;
}

#myp.big {
    transition-duration: .4s;
}
#myp.big:hover {
    transform: scale(1.4);
}

#movies-display {
    width: 80%;
    float: left; /* 画面の左側に配置 */
    height: 100vh; /* 画面の高さいっぱいに設定 */
    padding: 1px; /* 内側の余白 */
    box-sizing: border-box; /* ボックスモデルの計算にpaddingとborderを含める */
    overflow-y: auto; /* 高さがはみ出た場合はスクロールバーを表示 */
    display: flex; /* Flexboxを使用 */
    flex-wrap: wrap; /* コンテンツが横方向に溢れた場合は折り返す */
    justify-content: space-around; /* 要素をエリアに等間隔で配置 */
    background-size: 20px 20px; /* 背景色 */
    background-color: #ff9d00;
    border-right: #000000 3px solid;
}

.movie img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    border: black 2px solid;
    border-radius: 10px;
}

.movie {
    background-color: #ff9d00;
    width: 18%; /* 画面の幅の18% */
    margin: 10px; /* 外側の余白 */
    box-sizing: border-box;
    text-align: center;
}

.movie h3 {
    margin-top: 5px;
    margin-bottom: 2px;
}

.movie p {
    margin-bottom: 3px;
    font-size: 12px;
}

.movie .stock {
    font-size: 12px;
}

.movie .quantity {
    width: 30px; /* カウントの入力欄の幅を小さくする */
    font-size: 12px; /* カウントのフォントサイズを小さくする */
}

.movie .add-to-cart {
    background-color: #4CAF50; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    border: none;
    padding: 2px 5px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* ホバーエフェクト */
}

.movie .add-to-cart:hover {
    background-color: #45a049; /* ホバー時の背景色 */
}

.genre-content {
    display: none;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}


#genre-buttons {
    width: 20%; 
    display: flex;
    flex-direction: column;
    align-items: center; /* 画面の幅の10% */
    height: 100vh; /* 画面の高さいっぱいに設定 */
    float: left; /* 画面の左側に配置 */
    background-color: #ff9d00;
    border-left: #000000 3px solid;
    overflow-y: auto; /* 高さがはみ出た場合はスクロールバーを表示 */
    padding: 10px; /* 内側の余白 */
    font-weight: bolder;
}
.genre {
    width: 100%;
    margin-bottom: 5px; /* ボタンの下に余白を追加 */
    background-color: black;
    color: #ff9d00;
    font-weight: bolder;
    border-radius: 10px;
    font-family: cursive;
    cursor: pointer;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}
.genre.reverse:hover {
    background: #ff9d00;
    color: black;
  }

.search-box {
    margin-top: 30%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
#search-input {
    width: 100%; /* 検索ボックスの幅を設定 */
    border: 2px black solid;
    border-radius: 2px;
    margin-bottom:1px ;
}

#search-button{
    width: 8vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

/* カートボタン用 */
#cart-link {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
}

#cart-button {
    color: #ff9d00;
    text-decoration: none;
}

/* ミニカート用 */
#mini-cart {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff9d00;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px; /* ミニカートの幅 */
}

#mini-cart h2 {
    font-size: 16px;
    margin: 0 0 10px;
}

#mini-cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px;
}

#mini-cart-items li {
    margin-bottom: 5px;
}

#mini-cart-total {
    font-weight: bold;
    text-align: right;
}

#mini-cart-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

#mini-cart-link:hover {
    background-color: #e0e0e0;
}

#info-link {
    position: absolute;
    top: 16px; 
    right: 27px; 
    width: 60px;
    height: auto;
    z-index: 999;
}
#info-link img{
    max-width: 100%;
}

@media (max-width: 768px) {
    .movie {
        width: calc(33.33% - 20px);
    }
    #logo {
        background-color: #ff9d00; 
        -webkit-text-stroke: black 1.4px; 
        color: wheat;
        width: 150px;
        height: 74px;
        border: #000000 4px solid;
        border-radius: 10px;
        text-align: center;
        padding-top:8px ;
        font-size: 25px;
    }

    #logo h1:nth-child(2) {
        left: 20px;
    }
    
    #logo:hover h1:nth-child(1) {
        margin-right: 5px;
    }

    #right {
        flex-direction: column; /* 幅が狭い場合は縦方向に並べる */
        align-items: center;
        height: 110px;
        width: 220px;
        padding:6px 0 0 2px;
    }
    
    #greeting {
        background-color:#ff9d00;
        color: black;
        margin:7px auto;
        width: 140px;
        height: 30px;
        text-align: center;
        border-radius: 10px;
    }

    #user-greeting{
        font-family: cursive;
        font-size: 27px;  
    }

    #logout-link{
        width: 40px;
        text-align: center;
        text-decoration: none;
        color:wheat;
        margin:5px 0 0 0;
    }
    
    .regi{
        display: flex;
        flex-direction: column;
        width: 175px;
        height: 116px;
        background-color: #000000;
        border-radius: 10px;
    }
    
    #register-link{
        height: 20px;
        width: 130px;
        margin: 5px;
        padding-top: 2px;
        text-align: center;
        background-color: #ff9d00;
        color: #000000;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        font-weight: bolder;
        transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    }

    #register-link.r:hover {
        background: black;
        color:  #ff9d00;
        border: #ff9d00 1px solid;
        padding-top: 1.1px;
      }
    
    #login-form {
        background-color: black;
        color: #ff9d00;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        font-weight: bolder;
        
    }
    
    #login-form input[type="text"],
    #login-form input[type="password"]{
        margin-top: 1.2px;
        padding: 5px 0 5px 3px;
        margin-left: 30px;
        border: 2px solid black;
        border-radius: 4px;
        width: 100px;
        background-color: wheat;
    }
    
    #login-form button {
        background-color: #000000;
        color:wheat;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 2px;
        margin-left: 44px;
        width: 75px;
        height: 20px;
        font-family: cursive;
        transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    }

    #login-form button.bu:hover {
        background-color: wheat;
        color: #000;
    }

    #genre-buttons {
      
    }

    .genre {
       
    }

    #search-input {
        width: 100%;
        margin-bottom: 10px; 
    }

    #movies-display {
        width: 80%; 
       
    }
   
}


@media (max-width: 480px) {
    .movie {
        width: calc(50% - 20px);
    }

    #header {
        flex-direction: column; 
        align-items: center; 
    }

    #movies-display {
       
    
    }

    #genre-buttons{
      
        
    }

    #right{
        border: #000000 4px solid;
        border-radius: 15px;
        width: 200px;
        height: 115px;
        margin-left: 88px;
    }

    .regi{
        display: flex;
        flex-direction: column;
        width: 180px;
        height: 115px;
        background-color: #000000;
        border-radius: 10px;
    }

    #login-form button {
        background-color: #000000;
        color:wheat;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 45px;
        margin-top: 1.6px;
    }

    #logo, #right {
        margin-bottom: 10px; 
    }

    .genre {
        width: calc(100% - 8px); 
    }

    #info-link{
        width: 16vw;
        top: 3vw;
        right: 4vw;
    }

}